@import "./normalize.css";
@import "./theme.scss";


* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Philosopher';
    src: local('Philosopher');
    src: url(../fonts/Philosopher-Regular.ttf)
}

body {
    background-color: $brand-color;

}

header {
    text-align: center;
    margin-bottom: 20px;

}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

li {
    display: inline;
    margin-right: 100px;
}

a {
    @include link;
}


li:last-child {
    margin-right: 0px;

}

nav {
    margin-bottom: 20px;

}

.section-about {
    height: 640px;
    background: url(../img/01-background-picture.jpg) center/cover;
    position: relative;
    margin-bottom: 20px;
}

.section-about__block {
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg, rgba(244, 213, 178, 0.8) 0%, rgba(234, 156, 65, 0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    text-align: center;
    padding-top: 15px;
}

.section-about__border {
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 28px;
    text-align: left;

}

.section-about__title {
    font-size: $subtitle-font-size;
    margin: 0;
    margin-bottom: 9px;
    @include font-main;

}

.section-about__text {
    font-size: $main-font-size;
    margin: 0;
}

.section-description {
    margin-bottom: 20px;
}

.section-description__icon-box {
    text-align: center;
    margin-bottom: 20px;
}

.section-description__icon-box img {
    margin-right: 76px;
}

.section-description__icon-box img:last-child {
    margin-right: 0px;
}

.section-description__title {
    font-size: $title-font-size;
    margin: 0px;
    text-align: center;
    @include font-main;
}

.red {
    color: $accent-color;
}

.section-description__text {
    font-size: $link-font-size;
    margin: 0px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}

.section-map {
    margin-bottom: 20px;
}

.section-map__title {
    margin-bottom: 20px;
    text-align: center;
    font-size: $subtitle-font-size;
    @include font-main;
}

iframe {
    display: block;
    margin: 0 auto;
}

hr {
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}

footer {
    height: 80px;
}

h1 {
    @include font-accent;
}